/*! App */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #000;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }

    .Main {
        /* todo */
    }
}
